<% layout('layout/boilerplate') %>
    <div id="cluster-map"></div>
    <h1 class="mt-5">CAMPGROUNDS</h1>
        <% for(let campground of campgrounds){ %>
            <div class="card mb-3">
                <div class="row">

                    <div class="col-md-4">
                       <% if (campground.images.length){ %>
                        <img crossorigin="anonymous" src="<%= campground.images[0].url  %>" class="card-img-top" alt="">
                        <% }else{ %>
                            <img src="https://res.cloudinary.com/doehrt7uk/image/upload/v1730093044/HelpCamp/qlixxhbfteqh0vbdi8m2.jpg" crossorigin="anonymous" alt="">
                        <%} %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title  %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description  %>
                            </p>
                            <p class="class-text">
                                <small class="text-muted">
                                    <%= campground.location  %>
                                </small>
                            </p>
                            <a href="/campgrounds/<%=campground.id  %>" class="btn btn-primary">Show</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>